@model Order

@{
    ViewData["Title"] = "Pedido";
    decimal totalValue = 0;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1>Pedido n° @Model.Id-@Model.TransactionId</h1>

            <table class="table table-bordered">
                <thread>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                </thread>

                @foreach (ProductItem product in ViewBag.Products)
                {
                    totalValue += (product.ItensKartAmount * product.Price);

                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ItensKartAmount</td>
                        <td>
                            @((product.ItensKartAmount * product.Price).ToString("C"))
                            (@product.Price.ToString("C") unid)
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="2">Frete</td>
                    <td>
                        @{
                            var fee = Mask.ConvertPagarMeIntToDecimal(ViewBag.Transaction.Shipping.Fee).ToString("C");
                            totalValue += fee;
                        }

                        @fee.ToString("C");
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Valor total</td>
                    <td>@totalValue.ToString("C")</td>
                </tr>
            </table>

            @if (Model.PaymentForm == PaymentMethodConst.Boleto)
            {
                <h3>Boleto bancário</h3>
            }

            <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Voltar as compras</a>
        </div>
    </div>
</div>
