@model Order

@{
    ViewData["Title"] = "Pedido";
    decimal totalValue = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1 class="display-3 m-5">Pedido n° @Model.Id-@Model.TransactionId</h1>

            <table class="table table-bordered">
                <thread>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                </thread>

                @foreach (ProductItem product in ViewBag.Products)
                {
                    totalValue += (product.ItensKartAmount * product.Price);

                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ItensKartAmount</td>
                        <td>
                            @((product.ItensKartAmount * product.Price).ToString("C"))
                            (@product.Price.ToString("C") unid)
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="2">Frete</td>
                    <td>
                        @{
                            var fee = Mask.ConvertPagarMeIntToDecimal(ViewBag.Transaction.Shipping.Fee);
                            totalValue += fee;
                        }

                        @fee.ToString("C")
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Valor total</td>
                    <td>@totalValue.ToString("C")</td>
                </tr>
            </table>

            @if (Model.PaymentForm == PaymentMethodConst.Boleto)
            {
                <h3 class="display-4 m-5">Boleto bancário</h3>
                <iframe class="mb-3" src="@ViewBag.Transaction.BoletoUrl" style="width: 100%; min-height: 400px; border: 1px solid #CCC;"></iframe>
                <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Voltar as compras</a>
                <a href="@ViewBag.Transaction.BoletoUrl" class="btn btn-success">Imprimir boleto</a>
            }

            
        </div>
    </div>
</div>
