@model IndexViewModel

@{
    ViewData["Title"] = "Efetuar pagamento";
    decimal Subtotal = 0;

    var products = (List<ProductItem>) ViewBag.Products;
}

<div class="container">
    <h1 class="display-4 text-center my-5">Efetuar pagamento</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <div id="code_itemside_img2">
                <div class="box items-bordered-wrap">
                    @foreach (var item in products)
                    {
                        <figure class="itemside">
                            <div class="aside">
                                @if (item.Images.Count > 0)
                                {
                                    <img src="@(((List<Image>)item.Images).First().Path)" class="img-sm">
                                }
                                else
                                {
                                    <img src="~/img/imagem-produto.png" class="img-sm">
                                }
                            </div>
                            <figcaption class="text-wrap align-self-center">
                                @{
                                    var subtotalItem = item.Price * item.ChosenUnits;
                                    Subtotal = Subtotal + subtotalItem;
                                }
                                <h6 class="title"><strong>@item.Name.ToUpper()</strong></h6>
                                <div>
                                    <span class="price-new">Quantidade no carrinho: <strong>@item.ChosenUnits</strong></span>
                                </div>
                                <div>
                                    <span class="price-new">unid/ @item.Price.ToString() x @item.ChosenUnits = <strong>@subtotalItem.ToString("C")</strong></span>
                                </div>
                            </figcaption>
                        </figure>
                    }
                </div>

                <div class="box">
                    <h4 class="subtitle-doc">
                        Resumo
                    </h4>
                    <dl class="dlist-align">
                        <dt>Subtotal: </dt>
                        <dd class="text-right subtotal">@Subtotal.ToString("C")</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Frete: </dt>
                        <dd class="text-right frete">@ViewBag.Frete.TipoFrete - @ViewBag.Frete.Valor.ToString("C")</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>TOTAL: </dt>
                        @{
                            decimal valorFrete = (decimal)ViewBag.Frete.Valor;
                        }
                        <dd class="text-right total h5 b">@((Subtotal + valorFrete).ToString("C"))</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }

            <div id="code_payment2">

                <article class="card">
                    <div class="card-body p-5">

                        <ul class="nav bg radius nav-pills nav-fill mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link show btn-info" data-toggle="pill" href="#nav-tab-card">
                                    <i class="fa fa-credit-card mr-1"></i> Cartão de crédito
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-dark" data-toggle="pill" href="#nav-tab-paypal">
                                    <i class="fa fa-barcode"></i>  Boleto Bancário
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="nav-tab-card">
                                <form role="form" method="post">

                                    <div class="form-group">
                                        <label asp-for="CreditCard.CardHolderName">Nome impresso no cartão</label>
                                        <input type="text" asp-for="CreditCard.CardHolderName" class="form-control" placeholder="Nome impresso no cartão de créd.">
                                        <span asp-validation-for="CreditCard.CardHolderName"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="CreditCard.CardNumber">Número do cartão</label>
                                        <div class="input-group">
                                            <input type="text" asp-for="CreditCard.CardNumber" class="form-control card-number" placeholder="XXXX-XXXX-XXXX-XXXX">
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                                                    <i class="fab fa-cc-mastercard"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="CreditCard.CardNumber"></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="CardExpirationDateMM" class="hidden-xs">Vencimento</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" placeholder="MM" asp-for="CreditCard.CardExpirationDateMM">
                                                    <input type="number" class="form-control" placeholder="AA" asp-for="CreditCard.CardExpirationDateYY">
                                                </div>
                                                <span asp-validation-for="CreditCard.CardExpirationDateMM"></span>
                                                <span asp-validation-for="CreditCard.CardExpirationDateYY"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="CreditCard.CardCvv" data-toggle="tooltip" title="" data-original-title="Digite os 3 digitos que estão atrás do seu cartão">CVV/CVC</label>
                                                <input asp-for="CreditCard.CardCvv" type="number" class="form-control" placeholder="XXX">
                                                <span asp-validation-for="CreditCard.CardCvv"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label asp-for="Installment" data-toggle="tooltip" title="">Parcelamento</label>
                                                <select asp-for="Installment.Number" asp-items="ViewBag.Installments" class="form-control"></select>
                                                <span asp-validation-for="Installment"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="subscribe btn btn-success btn-block p-3" type="submit"> Confirmar  </button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-tab-paypal">
                                <p>Clique aqui para imprimir o boleto bancário.</p>
                                <p>
                                    <a class="btn btn-primary" asp-action="BoletoBancario"> <i class="fa fa-barcode"></i>  Gerar boleto </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>
