@model ProductListViewModel

@{
    ViewData["Title"] = "Produtos";
    var search = Context.Request.Query["search"];
    var ordination = Context.Request.Query["ordination"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

@if (Model.productList.Count() > 0)
{
    <div class="container" id="code_prod_complex">
        <div class="row mb-5">
            <div class="offset-md-10 col-md-2">
                <select class="form-control" asp-for="@ordination" id="ordinationList" asp-items="Model.ordinationList"></select>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model.productList)
            {
                <div class="col-md-3">
                    <figure class="card card-product">
                        <div class="img-wrap">
                            @if (product.Images != null && product.Images.Count() > 0)
                            {
                                <img src="@product.Images.ElementAt(0).Path" />
                            }
                            else
                            {
                                <img src="~/img/img-product-example.png" />
                            }
                        </div>
                        <figcaption class="info-wrap">
                            <h4 class="title font-weight-light">@product.Name</h4>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right"><i class="fas fa-shopping-cart"></i> +</a>
                            <div class="price-wrap h5">
                                <span class="price-new">R$ @product.Price</span>
                            </div>
                        </div>
                    </figure>
                </div>
            }
        </div>
        @Html.PagedListPager((IPagedList)Model.productList, page => Url.Action(action, new { page = page, search = search, ordination = ordination }))
    </div>
}
else
{
    <div class="container my-3">
        <div class="alert alert-info">
            <strong>Poxa...</strong> Ainda não temos produtos dessa categoria! ;(
        </div>
    </div>
}