@{
    ViewData["Title"] = "Visualizar pedido";
    TransactionPagarMe transaction = JsonConvert.DeserializeObject<TransactionPagarMe>(Model.TransactionData);
    List<ProductItem> products = JsonConvert.DeserializeObject<List<ProductItem>>(Model.ProductsData, new JsonSerializerSettings() { ContractResolver = new ProductItemResolver<List<ProductItem>>() });

    var birthDay = DateTime.Parse(transaction.Customer.Birthday);
}

<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <vc:order-situation order="@Model" />
        </div>
    </div>

    <div class="row my-3 text-center">
        <div class="col-md-12">
            @if (Model.Situation == OrderSituationConst.PAGAMENTO_APROVADO)
            {
                <button type="button" class="btn btn-dark p-3" data-toggle="modal" data-target="#nfe">
                    REGISTRAR NOTA FISCAL
                </button>
            }

            @if (Model.Situation == OrderSituationConst.NF_EMITIDA)
            {
                <button type="button" class="btn btn-dark p-3" data-toggle="modal" data-target="#tracking_cod">
                    REGISTRAR CÓDIGO DE RASTRAMENTO
                </button>
            }

            @if (Model.Situation == OrderSituationConst.NF_EMITIDA || Model.Situation == OrderSituationConst.PAGAMENTO_APROVADO)
            {
                if (Model.PaymentForm == PaymentMethodConst.CreditCard)
                {
                    <button type="button" class="btn btn-outline-dark p-3" data-toggle="modal" data-target="#cancel-credit-card">
                        CANCELAR PEDIDO
                    </button>
                }

                if (Model.PaymentForm == PaymentMethodConst.Boleto)
                {
                    <button type="button" class="btn btn-outline-dark p-3" data-toggle="modal" data-target="#cancel-boleto-bancario">
                        CANCELAR PEDIDO
                    </button>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="display-4 text-center mb-4">Informações do pedido</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="6" class="text-center"><strong>SITUAÇÃO DO PEDIDO:</strong> @Model.Situation</td>
                </tr>
                <tr>
                    <td><strong>Cliente:</strong> @transaction.Customer.Name</td>
                    <td><strong>Data de nascimento:</strong> @birthDay.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><strong>Forma de pagamento:</strong> @Model.PaymentForm</td>
                    <td><strong>Nota Fiscal Eletrônica:</strong> @Html.Raw(Model.NFE == null ? "-" : "<a href='" + Model.NFE + "' target='blank'>Visualizar</a>")</td>
                </tr>
            </table>

            <h3 class="display-4 text-center my-4">Endereço de entrega</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="6" class="text-center"><strong>@transaction.Shipping.Name</strong></td>
                </tr>
                <tr>
                    <td><strong>CEP:</strong> @transaction.Shipping.Address.Zipcode</td>
                    <td><strong>Estado:</strong> @transaction.Shipping.Address.State</td>
                    <td><strong>Cidade:</strong> @transaction.Shipping.Address.City</td>
                    <td><strong>Bairro:</strong> @transaction.Shipping.Address.Neighborhood</td>
                    <td><strong>Rua:</strong> @transaction.Shipping.Address.Street</td>
                    <td><strong>N° casa/apart:</strong> @transaction.Shipping.Address.StreetNumber</td>
                </tr>
                <tr>
                    <td><strong>Empresa de entrega:</strong> @Model.FreteCompany</td>
                    <td><strong>Valor do frete:</strong> @Mask.ConvertPagarMeIntToDecimal(transaction.Shipping.Fee).ToString("C")</td>
                    <td colspan="4"><strong>Código de rastreamento:</strong> @Html.Raw(Model.NFE == null ? "-" : "<a href='https://www.linkcorreios.com.br/" + Model.FreteTrackingCod + "' target='blank'>" + Model.FreteTrackingCod + "</a>")</td>
                </tr>
            </table>

            <h3 class="display-4 text-center my-4">Produtos do pedido</h3>
            <table class="table table-bordered mb-5">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor (unid)</th>
                    <th>Valor total (todas unid)</th>
                </tr>

                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ItensKartAmount</td>
                        <td>@product.Price.ToString("C")</td>
                        <td>@((product.Price * product.ItensKartAmount).ToString("C"))</td>
                    </tr>
                }

                <tr>
                    <td colspan="3"><strong>FRETE</strong></td>
                    <td><strong>@Mask.ConvertPagarMeIntToDecimal(transaction.Shipping.Fee).ToString("C")</strong></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>TOTAL</strong></td>
                    <td><strong>@Model.TotalValue.ToString("C")</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<form method="post" asp-action="NFE" asp-route-id="@Model.Id">
    <div class="modal fade" id="nfe" tabindex="-1" role="dialog" aria-labelledby="nfe" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nota Fiscal - Eletrônica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="control-nfe">Link da NF-e:</label>
                        <input type="url" class="form-control" id="control-nfe" name="nfe_url" placeholder="Digite o link da nota fiscal eletrônica">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="TrackingCod" asp-route-id="@Model.Id">
    <div class="modal fade" id="tracking_cod" tabindex="-1" role="dialog" aria-labelledby="tracking_cod" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Código de rastreamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="tracking_cod">Código:</label>
                        <input type="text" class="form-control" id="tracking_cod" name="tracking_cod" placeholder="Digite o código de rastreamento">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="TrackingCod" asp-route-id="@Model.Id">
    <div class="modal fade" id="cancel-credit-card" tabindex="-1" role="dialog" aria-labelledby="cancel-credit-card" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar pedido (Cartão de crédito)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cancel-reason">Motivo para o cancelamento:</label>
                        <input type="text" class="form-control" id="cancel-reason" name="cancel-reason" placeholder="Digite o motivo do cancelamento.">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>