@model ShowViewModel

@{
    ViewData["Title"] = "Pedido (" + Model.Order.Id + "-" + Model.Order.TransactionId + ")";
    TransactionPagarMe transaction = JsonConvert.DeserializeObject<TransactionPagarMe>(Model.Order.TransactionData);
    List<ProductItem> products = JsonConvert.DeserializeObject<List<ProductItem>>(Model.Order.ProductsData, new JsonSerializerSettings() { ContractResolver = new ProductItemResolver<List<ProductItem>>() });

    var birthDay = DateTime.Parse(transaction.Customer.Birthday);
}

@section script {
    @if (ViewBag.MODAL_NFE != null)
    {
        <script type="text/javascript">
            $('#nfe').modal()
        </script>
    }

    @if (ViewBag.MODAL_TRACKING_COD != null)
    {
        <script type="text/javascript">
            $('#tracking_cod').modal()
        </script>
    }

    @if (ViewBag.MODAL_CREDIT_CARD != null)
    {
        <script type="text/javascript">
            $('#cancel-credit-card').modal()
        </script>
    }

    @if (ViewBag.MODAL_BOLETO != null)
    {
        <script type="text/javascript">
            $('#cancel-boleto-bancario').modal()
        </script>
    }

    @if (ViewBag.MODAL_REFUND != null)
    {
        <script type="text/javascript">
            $('#refund').modal()
        </script>
    }

    @if (ViewBag.MODAL_REFUND_REJECT != null)
    {
        <script type="text/javascript">
            $('#refund-reject').modal()
        </script>
    }

    @if (ViewBag.MODAL_REFUND_BOLETO != null)
    {
        <script type="text/javascript">
            $('#refund-approve-boleto').modal()
        </script>
    }
}

<div class="container my-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <vc:order-situation order="@Model.Order" />
        </div>
    </div>

    <div class="row my-3 text-center">
        <div class="col-md-12">
            @if (Model.Order.Situation == OrderSituationConst.PAGAMENTO_APROVADO)
            {
                <button type="button" class="btn btn-dark p-3" data-toggle="modal" data-target="#nfe">
                    Registrar Nota Fiscal
                </button>
            }

            @if (Model.Order.Situation == OrderSituationConst.NF_EMITIDA)
            {
                <button type="button" class="btn btn-dark p-3" data-toggle="modal" data-target="#tracking_cod">
                    Registrar Código de Rastreamento
                </button>
            }

            @if (Model.Order.Situation == OrderSituationConst.NF_EMITIDA || Model.Order.Situation == OrderSituationConst.PAGAMENTO_APROVADO)
            {
                if (Model.Order.PaymentForm == PaymentMethodConst.CreditCard)
                {
                    <button type="button" class="btn btn-outline-danger p-3" data-toggle="modal" data-target="#cancel-credit-card">
                        Cancelar Pedido
                    </button>
                }

                if (Model.Order.PaymentForm == PaymentMethodConst.Boleto)
                {
                    <button type="button" class="btn btn-outline-danger p-3" data-toggle="modal" data-target="#cancel-boleto-bancario">
                        Cancelar Pedido
                    </button>
                }
            }

            @if (Model.Order.Situation == OrderSituationConst.ENTREGUE)
            {
                var orderSitatuon = Model.Order.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.ENTREGUE);

                if (orderSitatuon != null && DateTime.Now <= orderSitatuon.Date.AddDays(7))
                {
                    <button type="button" class="btn btn-dark p-3" data-toggle="modal" data-target="#refund">
                        Devolução
                    </button>
                }

            }

            @if (Model.Order.Situation == OrderSituationConst.DEVOLUCAO_ENTREGUE)
            {
                if (Model.Order.PaymentForm == PaymentMethodConst.CreditCard)
                {
                    <a class="btn btn-success p-3" asp-action="RefundOrderApprovedCreditCard" asp-route-id="@Model.Order.Id">
                        Aprovar devolução
                    </a>
                }

                if (Model.Order.PaymentForm == PaymentMethodConst.Boleto)
                {
                    <button class="btn btn-success p-3" data-toggle="modal" data-target="#refund-approve-boleto">
                        Aprovar devolução
                    </button>
                }

                <button type="button" class="btn btn-outline-danger p-3" data-toggle="modal" data-target="#refund-reject">
                    Rejeitar devolução
                </button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="display-4 text-center mb-4">Informações do pedido</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="6" class="text-center"><strong>SITUAÇÃO DO PEDIDO:</strong> @Model.Order.Situation</td>
                </tr>
                <tr>
                    <td><strong>Cliente:</strong> @transaction.Customer.Name</td>
                    <td><strong>Data de nascimento:</strong> @birthDay.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><strong>Forma de pagamento:</strong> @Model.Order.PaymentForm</td>
                    <td><strong>Nota Fiscal Eletrônica:</strong> @Html.Raw(Model.Order.NFE == null ? "-" : "<a href='" + Model.Order.NFE + "' target='blank'>Visualizar</a>")</td>
                </tr>
            </table>

            <h3 class="display-4 text-center my-4">Endereço de entrega</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="7" class="text-center"><strong>Nome do endereço:</strong> @transaction.Shipping.Name</td>
                </tr>
                <tr>
                    <td><strong>CEP:</strong> @transaction.Shipping.Address.Zipcode</td>
                    <td><strong>Estado:</strong> @transaction.Shipping.Address.State</td>
                    <td><strong>Cidade:</strong> @transaction.Shipping.Address.City</td>
                    <td><strong>Bairro:</strong> @transaction.Shipping.Address.Neighborhood</td>
                    <td><strong>Rua:</strong> @transaction.Shipping.Address.Street</td>
                    <td><strong>N° casa/apart:</strong> @transaction.Shipping.Address.StreetNumber</td>
                    <td><strong>Complemento:</strong> @transaction.Shipping.Address.Complementary</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Empresa de entrega:</strong> @Model.Order.FreteCompany</td>
                    <td colspan="2"><strong>Valor do frete:</strong> @Mask.ConvertPagarMeIntToDecimal(transaction.Shipping.Fee).ToString("C")</td>
                    <td colspan="3"><strong>Código de rastreamento:</strong> @Html.Raw(Model.Order.FreteTrackingCod == null ? "-" : "<a href='https://www.linkcorreios.com.br/" + Model.Order.FreteTrackingCod + "' target='blank'>" + Model.Order.FreteTrackingCod + "</a>")</td>
                </tr>
            </table>

            @{
                var refundDelivery = Model.Order.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.DEVOLUCAO_ENTREGUE);
            }

            @if (refundDelivery != null)
            {
                var refund = Model.Order.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.DEVOLUCAO);

                RefundData refundData = JsonConvert.DeserializeObject<RefundData>(refund.Data);

                var refundRejectedReason = Model.Order.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.DEVOLUCAO_REJEITADA);

                var dataCorreiosRefund = JsonConvert.DeserializeObject<Correios.NET.Models.Package>(refundDelivery.Data);

                <h3 class="display-4 text-center my-4">Devolução</h3>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Empresa de entrega:</strong> @Model.Order.FreteCompany</td>
                        <td><strong>Código de rastreamento:</strong> @Html.Raw(refundData.TrackingCod == null ? "-" : "<a href='https://www.linkcorreios.com.br/" + refundData.TrackingCod + "' target='blank'>" + refundData.TrackingCod + "</a>")</td>
                        <td><strong>Data da devolução (Na loja): </strong>@dataCorreiosRefund.DeliveryDate.ToString()</td>
                    </tr>
                    @if (refundRejectedReason != null)
                {
                    <tr>
                        <td colspan="3"  class="text-center"><strong style="color: red;">Motivo da rejeição da devolução:</strong> @refundRejectedReason.Data</td>
                    </tr>
                }
                </table>
            }

            <h3 class="display-4 text-center my-4">Produtos</h3>
            <table class="table table-bordered mb-5">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor (unid)</th>
                    <th>Valor total (todas unid)</th>
                </tr>

                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ChosenUnits</td>
                        <td>@product.Price.ToString("C")</td>
                        <td>@((product.Price * product.ChosenUnits).ToString("C"))</td>
                    </tr>
                }

                <tr>
                    <td colspan="3"><strong>FRETE</strong></td>
                    <td><strong>@Mask.ConvertPagarMeIntToDecimal(transaction.Shipping.Fee).ToString("C")</strong></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>TOTAL</strong></td>
                    <td><strong>@Model.Order.TotalValue.ToString("C")</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<form method="post" asp-action="NFE" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="nfe" tabindex="-1" role="dialog" aria-labelledby="nfe" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nota Fiscal - Eletrônica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="control-nfe">Link da NF-e:</label>
                        <input type="url" class="form-control" id="control-nfe" asp-for="@Model.NFE.NFE_Url" placeholder="Digite o link da nota fiscal eletrônica">
                        <span asp-validation-for="@Model.NFE.NFE_Url" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="TrackingCod" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="tracking_cod" tabindex="-1" role="dialog" aria-labelledby="tracking_cod" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Código de rastreamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="tracking_cod">Código:</label>
                        <input type="text" class="form-control" id="tracking_cod" asp-for="@Model.TrackingCod.Code" placeholder="Digite o código de rastreamento">
                        <span asp-validation-for="@Model.TrackingCod.Code" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="CancelOrderCreditCard" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="cancel-credit-card" tabindex="-1" role="dialog" aria-labelledby="cancel-credit-card" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar pedido (Cartão de Crédito)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cancel-reason">Motivo para o cancelamento:</label>
                        <textarea type="text" class="form-control" id="cancel-reason" asp-for="@Model.CreditCard.CancelReason" placeholder="Digite o motivo do cancelamento."></textarea>
                        <span asp-validation-for="@Model.CreditCard.CancelReason" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="CancelOrderBoletoBancario" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="cancel-boleto-bancario" tabindex="-1" role="dialog" aria-labelledby="cancel-boleto-bancario" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar pedido (Boleto Bancário)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cancel-reason">Motivo para o cancelamento:</label>
                        <textarea type="text" class="form-control" id="cancel-reason" asp-for="@Model.BoletoBancario.CancelReason" placeholder="Digite o motivo do cancelamento."></textarea>
                        <span asp-validation-for="@Model.BoletoBancario.CancelReason" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cod-bank">Código do banco:</label>
                        <input type="text" class="form-control" id="cod_bank" asp-for="@Model.BoletoBancario.Bank_code" placeholder="Digite o código do banco.">
                        <span asp-validation-for="@Model.BoletoBancario.Bank_code" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="agency">Agência:</label>
                        <input type="text" class="form-control mb-2" id="agency" asp-for="@Model.BoletoBancario.Agency" maxlength="15" placeholder="Digite o número da agência.">
                        <span asp-validation-for="@Model.BoletoBancario.Agency" class="text-danger"></span>

                        <input type="text" class="form-control mb-2" id="agency_dv" asp-for="@Model.BoletoBancario.Agency_dv" maxlength="2" placeholder="Digite o código verificador da agência.">
                        <span asp-validation-for="@Model.BoletoBancario.Agency_dv" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cc">Conta Corrente:</label>
                        <input type="text" class="form-control mb-2" id="cc" asp-for="@Model.BoletoBancario.Account" maxlength="15" placeholder="Digite a conta corrente do cliente.">
                        <span asp-validation-for="@Model.BoletoBancario.Account" class="text-danger"></span>

                        <input type="text" class="form-control mb-2" id="cc_dv" asp-for="@Model.BoletoBancario.Account_dv" maxlength="5" placeholder="Digite o código verificador da conta corrente.">
                        <span asp-validation-for="@Model.BoletoBancario.Account_dv" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="legal_name">Nome do proprietário da conta:</label>
                        <input type="text" class="form-control" id="legal_name" asp-for="@Model.BoletoBancario.Legal_name" placeholder="Digite o nome do proprietário da conta.">

                        <span asp-validation-for="@Model.BoletoBancario.Legal_name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cpf">CPF do proprietário da conta:</label>
                        <input type="text" class="form-control" id="cpf" asp-for="@Model.BoletoBancario.CPF" maxlength="15" placeholder="Digite o CPF do proprietário da conta.">

                        <span asp-validation-for="@Model.BoletoBancario.CPF" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="RefundOrder" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="refund" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Devolução</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label asp-for="@Model.Refund.RefundReason">Motivo para a devolução:</label>
                        <textarea type="text" class="form-control" asp-for="@Model.Refund.RefundReason" placeholder="Digite o motivo da devolução."></textarea>
                        <span asp-validation-for="@Model.Refund.RefundReason" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Refund.TrackingCod">Código de rastreamento:</label>
                        <textarea type="text" class="form-control" asp-for="@Model.Refund.TrackingCod" placeholder="Digite o código de rastreamento."></textarea>
                        <span asp-validation-for="@Model.Refund.TrackingCod" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="RefundOrderRejected" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="refund-reject" tabindex="-1" role="dialog" aria-labelledby="refund-reject" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rejeitar Devolução</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label asp-for="@Model.RefundRejectReason">Motivo para a rejeição da devolução:</label>
                        <textarea type="text" class="form-control" asp-for="@Model.RefundRejectReason" placeholder="Digite o motivo para a rejeição."></textarea>
                        <span asp-validation-for="@Model.RefundRejectReason" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="RefundOrderApprovedBoletoBancario" asp-route-id="@Model.Order.Id">
    <div class="modal fade" id="refund-approve-boleto" tabindex="-1" role="dialog" aria-labelledby="refund-approve-boleto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Devolver dinheiro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cod-bank">Código do banco:</label>
                        <input type="text" class="form-control" id="cod_bank" asp-for="@Model.BoletoBancario.Bank_code" placeholder="Digite o código do banco.">
                        <span asp-validation-for="@Model.BoletoBancario.Bank_code" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="agency">Agência:</label>
                        <input type="text" class="form-control mb-2" id="agency" asp-for="@Model.BoletoBancario.Agency" maxlength="15" placeholder="Digite o número da agência.">
                        <span asp-validation-for="@Model.BoletoBancario.Agency" class="text-danger"></span>

                        <input type="text" class="form-control mb-2" id="agency_dv" asp-for="@Model.BoletoBancario.Agency_dv" maxlength="2" placeholder="Digite o código verificador da agência.">
                        <span asp-validation-for="@Model.BoletoBancario.Agency_dv" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cc">Conta Corrente:</label>
                        <input type="text" class="form-control mb-2" id="cc" asp-for="@Model.BoletoBancario.Account" maxlength="15" placeholder="Digite a conta corrente do cliente.">
                        <span asp-validation-for="@Model.BoletoBancario.Account" class="text-danger"></span>

                        <input type="text" class="form-control mb-2" id="cc_dv" asp-for="@Model.BoletoBancario.Account_dv" maxlength="5" placeholder="Digite o código verificador da conta corrente.">
                        <span asp-validation-for="@Model.BoletoBancario.Account_dv" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="legal_name">Nome do proprietário da conta:</label>
                        <input type="text" class="form-control" id="legal_name" asp-for="@Model.BoletoBancario.Legal_name" placeholder="Digite o nome do proprietário da conta.">

                        <span asp-validation-for="@Model.BoletoBancario.Legal_name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cpf">CPF do proprietário da conta:</label>
                        <input type="text" class="form-control" id="cpf" asp-for="@Model.BoletoBancario.CPF" maxlength="15" placeholder="Digite o CPF do proprietário da conta.">

                        <span asp-validation-for="@Model.BoletoBancario.CPF" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>