@{
    ViewData["Title"] = "Endereço de entrega";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center display-4 my-5">Endereço de entrega</h4>

            @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            <label for="0-end">
                                <strong>Meu endereço</strong>
                                <p>@ViewBag.Client.CEP - @ViewBag.Client.State, @ViewBag.Client.City, @ViewBag.Client.Neighborhood, @ViewBag.Client.Street, n° @ViewBag.Client.HouseNumber. Complemento: @ViewBag.Client.Complement</p>
                            </label>
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Client" class="btn btn-dark">Editar</a>
                        </td>
                    </tr>

                    @foreach (DeliveryAddress deliveryAddress in ViewBag.DeliveryAddress)
                    {
                        <tr>
                            <td>
                                <label for="@deliveryAddress.Id-end">
                                    <strong>@deliveryAddress.AddressName</strong>
                                    <p>@deliveryAddress.CEP | @deliveryAddress.State, @deliveryAddress.City, @deliveryAddress.Neighborhood, @deliveryAddress.Street, n° @deliveryAddress.HouseNumber. Complemento: @ViewBag.Client.Complement</p>
                                </label>
                            </td>
                            <td>
                                <a asp-action="Update" asp-route-id="@deliveryAddress.Id" class="btn btn-dark">Editar</a>
                                <a asp-action="Delete" asp-route-id="@deliveryAddress.Id" class="btn btn-danger">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-left mt-3">
                <a  class="btn btn-primary p-3" asp-action="Index" asp-controller="Client">Voltar</a>
                <a class="btn btn-dark p-3" asp-action="Register">Cadastrar novo endereço</a>
            </div>
        </div>
    </div>
</div>