@{
    ViewData["Title"] = "Painel de controle";
}

<h1 class="display-4 my-4">Painel de controle</h1>

<h1 class="my-4 font-weight-light h3">Informações gerais</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Clientes</h5>
            <div class="card-body">
                <p class="card-text">Quantidade total de clientes: <strong>@ViewBag.Clients</strong></p>
                <a asp-controller="Client" asp-action="Index" class="btn btn-dark col-md-12">Clique aqui para ver todos clientes</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Produtos</h5>
            <div class="card-body">
                <p class="card-text">Quantidade total de produtos: <strong>@ViewBag.Products</strong></p>
                <a asp-controller="Product" asp-action="Index" class="btn btn-dark col-md-12">Clique aqui para ver todos produtos</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Newsletter</h5>
            <div class="card-body">
                <p class="card-text">Quantidade total de participantes: @ViewBag.Newsletter</p>
                <a asp-action="NewsletterCSV" target="_blank" class="btn btn-success col-md-12">Clique aqui para gerar um arquivo CSV</a>
            </div>
        </div>
    </div>
</div>

<h1 class="my-4 font-weight-light h3">Vendas</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Pedidos realizados</h5>
            <div class="card-body">
                <p class="card-text">Quantidade total de pedidos realizados: <strong>@ViewBag.TotalOrders</strong></p>
                <a asp-controller="Order" asp-action="Index" class="btn btn-dark col-md-12">Clique aqui para ver todos pedidos</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Total vendido</h5>
            <div class="card-body">
                <p class="card-text">Valor total: <strong>R$ @ViewBag.TotalValueOrders</strong></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Forma de pagamento</h5>
            <div class="card-body">
                <p class="card-text">Cartão de crédito: <strong>@ViewBag.TotalOrdersCreditCard. </strong>Boleto Bancário: <strong>@ViewBag.TotalOrdersBoletoBancario</strong></p>
            </div>
        </div>
    </div>
</div>