@model DeliveryAddress

@{
    ViewData["Title"] = "Endereço de entrega";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center display-4 mt-5">Endereço de entrega</h4>

            <table class="table table-hover my-5">
                <tbody>
                    <tr>
                        <th scope="row">
                            <input type="radio" name="deliveryAddresses" value="0" id="0-end" />
                        </th>
                        <td>
                            <label for="0-end">
                                <strong>Meu endereço</strong>
                                <p>@ViewBag.Client.CEP | @ViewBag.Client.State, @ViewBag.Client.City, @ViewBag.Client.Neighborhood, @ViewBag.Client.Street, @ViewBag.Client.HouseNumber</p>
                            </label>
                        </td>
                        <td>
                            <strong>Frete: </strong>
                            <p>R$ 189,99</p>
                        </td>
                    </tr>
                    @foreach (DeliveryAddress deliveryAddress in ViewBag.Addresses)
                    {
                        <tr>
                            <th scope="row">
                                <input type="radio" name="deliveryAddress" value="@deliveryAddress.Id" id="@deliveryAddress.Id-end" />
                            </th>
                            <td>
                                <label for="@deliveryAddress.Id-end">
                                    <strong>@deliveryAddress.AddressName</strong>
                                    <p>@deliveryAddress.CEP | @deliveryAddress.State, @deliveryAddress.City, @deliveryAddress.Neighborhood, @deliveryAddress.Street, @deliveryAddress.HouseNumber</p>
                                </label>
                            </td>
                            <td>
                                <strong>Frete: </strong>
                                <p>R$ 189,99</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center">
                <a class="btn btn-secondary p-2" asp-area="Client" asp-controller="Home" asp-route-returnUrl="@Url.Action("DeliveryAddress", "ShoppingKart", new {  area = "" })" asp-action="RegisterDeliveryAddress">Cadastrar novo endereço</a>
                <a class="btn btn-primary p-2" asp-controller="Payment" asp-action="Index"><strong>Continuar para pagamento</strong></a>
            </div>
        </div>
    </div>
</div>