@model DeliveryAddress

@{
    ViewData["Title"] = "Endereço de entrega";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center display-4 mt-5">Endereço de entrega</h4>

            <table class="table table-hover my-5">
                <tbody>
                    <tr>
                        <th scope="row">
                            <input type="radio" name="deliveryAddress" value="0" id="0-end" />
                            <input type="hidden" name="cep" value="@ViewBag.Client.CEP" />
                        </th>
                        <td>
                            <label for="0-end">
                                <strong>Meu endereço</strong>
                                <p>@ViewBag.Client.CEP | @ViewBag.Client.State, @ViewBag.Client.City, @ViewBag.Client.Neighborhood, @ViewBag.Client.Street, @ViewBag.Client.HouseNumber</p>
                            </label>
                        </td>
                    </tr>

                    @foreach (DeliveryAddress deliveryAddress in ViewBag.Addresses)
                    {
                        <tr>
                            <th scope="row">
                                <input type="radio" name="deliveryAddress" value="@deliveryAddress.Id" id="@deliveryAddress.Id-end" />
                                <input type="hidden" name="cep" value="@deliveryAddress.CEP" />
                            </th>
                            <td>
                                <label for="@deliveryAddress.Id-end">
                                    <strong>@deliveryAddress.AddressName</strong>
                                    <p>@deliveryAddress.CEP | @deliveryAddress.State, @deliveryAddress.City, @deliveryAddress.Neighborhood, @deliveryAddress.Street, @deliveryAddress.HouseNumber</p>
                                </label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-left">
                <a class="btn btn-secondary p-3" asp-area="Client" asp-controller="Home" asp-route-returnUrl="@Url.Action("DeliveryAddress", "ShoppingKart", new {  area = "" })" asp-action="RegisterDeliveryAddress">Cadastrar novo endereço</a>
            </div>

            <div class="card-group my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SEDEX</h5>
                        <p class="card-text">Até dias utéis.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <input type="radio" name="frete" value="SEDEX" />
                        </small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SEDEX10</h5>
                        <p class="card-text">Até dias utéis.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <input type="radio" name="frete" value="SEDEX10" />
                        </small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PAC</h5>
                        <p class="card-text">Até dias utéis.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <input type="radio" name="frete" value="PAC" />
                        </small>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <a class="btn btn-warning p-3" asp-controller="Payment" asp-action="Index"><strong>Continuar para pagamento</strong></a>
            </div>
        </div>
    </div>
</div>