@model IPagedList<Order>

@{
    ViewData["Title"] = "Meus pedidos";
}

<div class="container col-md-8">

    @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }


    @if (Model.Count > 0)
    {

        <h3 class="display-4 text-center my-5">Meus pedidos</h3>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">N° do pedido</th>
                        <th scope="col">Data da compra</th>
                        <th scope="col">Forma de pagamento</th>
                        <th scope="col">Valor total</th>
                        <th scope="col">Situação do pedido</th>
                        <th scope="col">NF-E</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id-@order.TransactionId</td>
                            <td>@order.RegistryDate.ToString("dd/MM/yyyy")</td>
                            <td>@order.PaymentForm</td>
                            <td>@order.TotalValue.ToString("C")</td>
                            <td>@order.Situation</td>
                            <td><strong>@Html.Raw(order.NFE == null ? "-" : "<a href='" + order.NFE + "' target='blank'>NOTA FISCAL ELETRÔNICA</a>")</strong></td>
                            <td><a class="btn btn-dark" asp-action="Show" asp-route-id="@order.Id">Visualizar pedido</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="container">
            <br />
            <br />
            <div class="row">
                <div class="col-md-12 text-center display-4">
                    Não encontramos nenhum pedido.
                </div>
            </div>
        </div>
    }

    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))

</div>