@model Order

@{
    ViewData["Title"] = "Pedido (" + Model.Id + "-" + Model.TransactionId + ")";

    TransactionPagarMe transaction = JsonConvert.DeserializeObject<TransactionPagarMe>(Model.TransactionData);
    List<ProductItem> products = JsonConvert.DeserializeObject<List<ProductItem>>(Model.ProductsData, new JsonSerializerSettings() { ContractResolver = new ProductItemResolver<List<ProductItem>>() });

    var birthDay = DateTime.Parse(transaction.Customer.Birthday);
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <vc:order-situation order="@Model" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="display-4 text-center mb-5">Informações do pedido <strong class="num-order-info">(@Model.Id-@Model.TransactionId)</strong></h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="6" class="text-center"><strong>SITUAÇÃO DO PEDIDO:</strong> @Model.Situation</td>
                </tr>
                <tr>
                    <td><strong>Cliente:</strong> @transaction.Customer.Name</td>
                    <td><strong>Data de nascimento:</strong> @birthDay.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><strong>Forma de pagamento:</strong> @Model.PaymentForm</td>
                    <td><strong>Nota fiscal eletrônica:</strong> @Html.Raw(Model.NFE == null ? "-" : "<a href='" + Model.NFE + "' target='blank'>Visualizar</a>")</td>
                </tr>
            </table>

            <h3 class="display-4 text-center my-4">Endereço de entrega</h3>
            <table class="table table-bordered">
                <tr>
                    <td colspan="7" class="text-center"><strong>Nome do endereço:</strong> @transaction.Shipping.Name</td>
                </tr>
                <tr>
                    <td><strong>CEP:</strong> @transaction.Shipping.Address.Zipcode</td>
                    <td><strong>Estado:</strong> @transaction.Shipping.Address.State</td>
                    <td><strong>Cidade:</strong> @transaction.Shipping.Address.City</td>
                    <td colspan="2"><strong>Bairro:</strong> @transaction.Shipping.Address.Neighborhood</td>
                    <td colspan="2"><strong>Rua:</strong> @transaction.Shipping.Address.Street</td>
                </tr>
                <tr>
                    <td  colspan="2"><strong>N° casa/apart:</strong> @transaction.Shipping.Address.StreetNumber</td>
                    <td colspan="4"><strong>Complemento:</strong> @transaction.Shipping.Address.Complementary</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Empresa de entrega:</strong> @Model.FreteCompany</td>
                    <td colspan="2"><strong>Valor do frete:</strong> @Mask.ConvertPagarMeIntToDecimal(transaction.Shipping.Fee).ToString("C")</td>
                    <td colspan="3"><strong>Código de rastreamento:</strong> @Html.Raw(Model.NFE == null ? "-" : "<a href='https://www.linkcorreios.com.br/" + Model.FreteTrackingCod + "' target='blank'>" + Model.FreteTrackingCod + "</a>")</td>
                </tr>
            </table>

            @{
                var refundDelivery = Model.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.DEVOLUCAO_ENTREGUE);
            }

            @if (refundDelivery != null)
            {
                var refund = Model.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.DEVOLUCAO);

                RefundData refundData = JsonConvert.DeserializeObject<RefundData>(refund.Data);

                var refundRejectedReason = Model.OrderSituations.FirstOrDefault(a => a.Situation == OrderSituationConst.DEVOLUCAO_REJEITADA);

                var dataCorreiosRefund = JsonConvert.DeserializeObject<Correios.NET.Models.Package>(refundDelivery.Data);

                <h3 class="display-4 text-center my-4">Devolução</h3>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Empresa de entrega:</strong> @Model.FreteCompany</td>
                        <td><strong>Código de rastreamento:</strong> @Html.Raw(refundData.TrackingCod == null ? "-" : "<a href='https://www.linkcorreios.com.br/" + refundData.TrackingCod + "' target='blank'>" + refundData.TrackingCod + "</a>")</td>
                        <td><strong>Data da devolução (Na loja): </strong>@dataCorreiosRefund.DeliveryDate.ToString()</td>
                    </tr>
                    @if (refundRejectedReason != null)
                    {
                        <tr>
                            <td colspan="3" class="text-center"><strong style="color: red;">Motivo da rejeição da devolução:</strong> @refundRejectedReason.Data</td>
                        </tr>
                    }
                </table>
            }

            <h3 class="display-4 text-center my-4">Produtos</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor (unid)</th>
                    <th>Valor total (todas unid)</th>
                </tr>

                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ChosenUnits</td>
                        <td>@product.Price.ToString("C")</td>
                        <td>@((product.Price * product.ChosenUnits).ToString("C"))</td>
                    </tr>
                }

                <tr>
                    <td colspan="3"><strong>FRETE</strong></td>
                    <td><strong>@Mask.ConvertPagarMeIntToDecimal(transaction.Shipping.Fee).ToString("C")</strong></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>TOTAL</strong></td>
                    <td><strong>@Model.TotalValue.ToString("C")</strong></td>
                </tr>
            </table>

            <div class="text-right"><button class="mt-5 btn btn-warning btn-imprimir p-3">Clique aqui para imprimir</button></div>
            

        </div>
    </div>
</div>